<?xml version="1.0"?>

<launch>

  <!-- Run gazebo to simulate robot -->
    <include file="$(find outdoor_waypoint_nav)/launch/include/gazebo.launch"/> 

  <!-- Run teleop.launch to control sim with Joystick -->
		<include file="$(find husky_control)/launch/teleop.launch" /> 

  <!-- Run gmapping to create map -->
    <include file="$(find husky_navigation)/launch/gmapping.launch" />

  <!-- Launch hector_slam for laser odometry and mapping -->
    <!--include file="$(find hector_mapping_nav)/launch/scanmatch_nav.launch" /-->

  <!-- Launch robot_localization and navsat node-->
    <include file="$(find outdoor_waypoint_nav)/launch/include/localization_run_sim.launch"/>

  <!-- Run rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find outdoor_waypoint_nav)/rviz_config/outdoor_waypoint_nav_continuous_rviz.rviz" />

  <!-- Run husky_navigation to start move_base -->
    <include file="$(find husky_navigation)/launch/move_base_nav_continuous.launch" />

  <!-- launch safety node to allow the user to disable velocity commands to the robot -->
  <include file="$(find outdoor_waypoint_nav)/launch/include/safety_node.launch" />

</launch>
