<?xml version="1.0"?>

<launch>

  <group ns="/outdoor_waypoint_nav">
  <!-- Load current navsat parameters -->
  <rosparam command="load" file="$(find outdoor_waypoint_nav)/params/navsat_params.yaml" />

  <!-- Start calibration node -->
  <node name="calibrate_heading" pkg="outdoor_waypoint_nav" type="calibrate_heading" output="screen" />
    <!-- set x linear velocity (m/s) -->
    <param name="/outdoor_waypoint_nav/x_vel" value="0.5" />

    <!-- set how long to publish velocity command (s) -->
    <param name="/outdoor_waypoint_nav/x_vel_time" value="10" />
  </group>

</launch>

