<?xml version="1.0"?>

<launch>
	  <arg name="collect_scan_but" value="1" />

    <!-- Run mandala mapping -->
    <include file="$(find m3dunit_base)/launch/universal.launch" />

    <node name="static_tf" type="static_transform_publisher" pkg="tf" args = "0 0 0 0 0 0 user_rail_link m3d_test/m3d_link 10"/>
    
    <node name="joy_to_bool" type="joyToBool.py" pkg="m3dunit_base">
      <remap from="/joy" to="/joy_teleop/joy"/>
      <param name="buttonNo" value="$(arg collect_scan_but)"/>
      <remap to="/m3d_test/aggregator/request" from="~button" />
    </node>
    
    <node name="gpu_6dslam_node" pkg="gpu_6dslam" type="gpu_6dslam_node"/>


    <!-- Send waypoint goals -->
    <node pkg="outdoor_waypoint_nav" type="gps_waypoint_mapping" name="gps_waypoint_mapping" output="screen" />
		    <param name="coordinates_file" value="/waypoint_files/points_outdoor.txt" type="string" />	
        <param name="buttonNo" value="$(arg collect_scan_but)"/>

</launch>
