<?xml version="1.0"?>

<launch>

  <!-- 
	Note: 
	 - Button mapping specific for Logitech and xbox joysticks 
	 - You may need to remap by changing params below
	-->
	<arg name="collect_button_num" value="3" />
	<arg name="collect_button_sym" value="Y" />
	<arg name="end_button_num" value="5" />
	<arg name="end_button_sym" value="RB" />
	<arg name="filtered_coordinates_file_dir" value="/waypoint_files/plot_filtered_points.txt" />
	<arg name="raw_coordinates_file_dir" value="/waypoint_files/plot_raw_points.txt" />
	<arg name="num_points" value="700" />
	<arg name="collection_time" value="10" />


  <!-- Run collect_gps_waypoints node -->
  	<node pkg="outdoor_waypoint_nav" type="plot_gps_waypoints" name="plot_gps_waypoints" output="screen"/>
			<!-- WARNING: This will replace any file in this directory with the same name.-->
			<param name="/outdoor_waypoint_nav/filtered_coordinates_file" value="$(arg filtered_coordinates_file_dir)" type="string" />
			<param name="/outdoor_waypoint_nav/raw_coordinates_file" value="$(arg raw_coordinates_file_dir)" type="string" />
			<param name="/outdoor_waypoint_nav/collect_button_num" value="$(arg collect_button_num)" type="int" />
			<param name="/outdoor_waypoint_nav/end_button_num" value="$(arg end_button_num)" type="int" />
			<param name="/outdoor_waypoint_nav/collect_button_sym" value="$(arg collect_button_sym)" type="string" />
			<param name="/outdoor_waypoint_nav/end_button_sym" value="$(arg end_button_sym)" type="string" />
			<param name="/outdoor_waypoint_nav/num_points" value="$(arg num_points)" type="int" />
			<param name="/outdoor_waypoint_nav/collection_time" value="$(arg collection_time)" type="double" />
</launch>
			
