<?xml version="1.0"?>

<launch>

  <node ns="/outdoor_waypoint_nav/controller_1" pkg="outdoor_waypoint_nav" type="gps_waypoint_continuous1" name="gps_waypoint" output="screen"/>
	<param name="/outdoor_waypoint_nav/coordinates_file" value="/waypoint_files/points_sim.txt" type="string" />

  <node ns="/outdoor_waypoint_nav/controller_2" pkg="outdoor_waypoint_nav" type="gps_waypoint_continuous2" name="gps_waypoint" output="screen"/>
	<param name="/outdoor_waypoint_nav/coordinates_file" value="/waypoint_files/points_sim.txt" type="string" />		

</launch>
