<?xml version="1.0"?>

<launch>
  <arg name="laser_enabled" default="true"/>
  <arg name="ur5_enabled" default="false"/>
  <arg name="kinect_enabled" default="false"/>


  <!-- Launch husky gazebo -->
    <include file="$(find husky_gazebo)/launch/husky_empty_world.launch">
      <arg name="world_name" value="$(find husky_gazebo)/worlds/clearpath_playpen.world"/>
      <!--<arg name="world_name" value="worlds/empty.world"/>-->
      <arg name="laser_enabled" value="$(arg laser_enabled)"/>
      <arg name="ur5_enabled" value="$(arg ur5_enabled)"/>
      <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    </include>

</launch>
